* {
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

body {
    width: 100%;
    background-image: url(../image/p__login.png);
    background-size:1700px 1080px;
    background-repeat: no-repeat;
    background-position: center  -250px;
    

    //登录
    #reg {
        width: 470px;
        height: 100vh;
        padding-left: 70px;
        background-color: #fff;
        box-shadow: 0 0 25px 10px #c4d1f9;
        >img{
            margin: 25px 0 10px;
            width: 250px;
        }
        >h2,>h4{
            font-weight: 700;
        }
        .reg2{
            width: 148px;
            margin: 0 auto;
            margin-top: 40px;
        }
        .reg3{
            >div{
                margin: 0 auto;
                width: 250px;
                margin-bottom: 10px;
                text-align: center;
                fieldset input{
                    width: 250px;
                }
            }
            
            
            .login4{
                border-radius: 5px;
                padding: 10px 0;
                background-color: #295aeb;
                color: #fff;
                margin-bottom: 10px;
            }
            .reg{
                margin-bottom: 80px;
                text-align: right;
                color: #295aeb;
            }

        }
    }
}

//body end