body {
  margin: 0;
}

.top {
  width: 100%;
  height: 40px;
  background-color: #f0f0f0;
}

.top .center {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.top .center .left {
  color: #9a9a9a;
  font-size: 14px;
}

.top .center .right a {
  color: #9a9a9a;
  margin: 0;
  text-decoration: none;
  font-size: 14px;
  padding: 0 20px;
  border-right: 1px solid #9a9a9a;
}

.top .center .right .a1 {
  border: 0;
}

#exampleModal1 .modal-dialog {
  width: 400px;
}

#exampleModal1 .modal-dialog .modal-content {
  padding: 10px 40px;
}

#exampleModal1 .modal-dialog .modal-content .modal-header {
  position: relative;
  border: 0;
  padding: 0;
  border-bottom: 1px solid #d8d8d8;
}

#exampleModal1 .modal-dialog .modal-content .modal-header ul li a {
  color: #333;
  background-color: white;
  padding: 10px;
  padding-bottom: 0;
}

#exampleModal1 .modal-dialog .modal-content .modal-header button {
  position: absolute;
  top: 6px;
  right: -24px;
  width: 40px;
  height: 40px;
  background-color: #222320;
  border-bottom-left-radius: 40px;
}

#exampleModal1 .modal-dialog .modal-content .modal-header button span {
  position: absolute;
  top: -6px;
  left: 13px;
  color: white;
  font-size: 35px;
  font-weight: 300;
}

#exampleModal1 .modal-dialog .modal-content .modal-body {
  padding: 0;
  margin-top: 10px;
}

#exampleModal1 .modal-dialog .modal-content .modal-body #pills-profile input {
  width: 100%;
  height: 46px;
  margin-top: 20px;
  background-color: #f4f4f4;
  border: 1px solid #d8d8d8;
  border-radius: 7px;
}

#exampleModal1 .modal-dialog .modal-content .modal-body #pills-profile input::-moz-placeholder {
  font-size: 14px;
  color: #a0a0a0;
}

#exampleModal1 .modal-dialog .modal-content .modal-body #pills-profile button {
  margin-top: 30px;
  width: 100%;
  height: 46px;
  border-radius: 7px;
  background-color: #f99135;
  border: 0;
  color: white;
  font-size: 20px;
}

#exampleModal1 .modal-dialog .modal-content .modal-body #pills-profile .user {
  padding: 20px 0;
  font-size: 14px;
  text-align: right;
}

#exampleModal1 .modal-dialog .modal-content .modal-body #pills-profile .user a {
  text-decoration: none;
  color: #f99135;
}

#exampleModal1 .modal-dialog .modal-content .modal-body #pills-home .in1, #exampleModal1 .modal-dialog .modal-content .modal-body #pills-home .in2 {
  width: 100%;
  height: 46px;
  margin-top: 20px;
  background-color: #f4f4f4;
  border: 1px solid #d8d8d8;
  border-radius: 7px;
}

#exampleModal1 .modal-dialog .modal-content .modal-body #pills-home .a1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

#exampleModal1 .modal-dialog .modal-content .modal-body #pills-home .a1 a {
  float: right;
  color: #f99135;
  text-decoration: none;
}

#exampleModal1 .modal-dialog .modal-content .modal-body #pills-home .bor {
  width: 100%;
  border-bottom: 1px solid #d8d8d8;
}

#exampleModal1 .modal-dialog .modal-content .modal-body #pills-home .ck1 {
  margin-top: 25px;
  margin-bottom: 30px;
}

#exampleModal1 .modal-dialog .modal-content .modal-body #pills-home .ck1 input {
  font-size: 12px;
}

#exampleModal1 .modal-dialog .modal-content .modal-body #pills-home .ck1 span {
  font-size: 12px;
}

#exampleModal1 .modal-dialog .modal-content .modal-body #pills-home button {
  width: 100%;
  height: 46px;
  border-radius: 7px;
  background-color: #f99135;
  border: 0;
  color: white;
  font-size: 20px;
  margin-top: 30px;
}

.header {
  height: 90px;
}

.header .center {
  width: 1200px;
  margin: 0 auto;
  height: 90px;
  display: flex;
}

.header .center .left {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
}

.header .center .left .icon {
  width: 10px;
  height: 20px;
  background-image: url(../img/zy_06.png);
  background-position: 0 5px;
  margin-left: 5px;
}

.header .center .left span {
  margin-left: 15px;
  font-size: 14px;
}

.header .center .cen {
  height: 100%;
  width: 45%;
}

.header .center .cen ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  color: #333;
  display: flex;
}

.header .center .cen ul li {
  height: 100%;
  display: flex;
}

.header .center .cen ul li a {
  font-size: 18px;
  height: 90px;
  padding: 0 22px;
  line-height: 90px;
  color: #333;
  text-decoration: none;
}

.header .center .cen ul li a:hover {
  background-color: #f99135;
  color: white;
}

.header .center .right {
  width: 30%;
  display: flex;
  align-items: center;
}

.header .center .right .search {
  height: 44px;
  width: 70%;
  border: 2px solid #f99135;
  border-radius: 22px;
}

.header .center .right .bt1 {
  height: 44px;
  border-radius: 22px;
  width: 20%;
  border: 2px solid #f99135;
  background-color: #f99135;
  margin-left: -33px;
  background-image: url(../img/zy0_06.png);
  background-repeat: no-repeat;
  background-position: 23px 10px;
}

.carousel-inner img {
  width: 100%;
}

.select {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.select .bt1 {
  width: 150px;
  height: 44px;
  font-size: 24px;
  color: white;
  border: 0;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  background-color: #f99135;
}

.select .bt2 {
  width: 120px;
  height: 44px;
  font-size: 18px;
  color: white;
  border: 0;
  background-color: #f99135;
  border-radius: 22px;
}

.select select {
  width: 206px;
  height: 44px;
  border-radius: 22px;
  border: 1px #ccc solid;
  background-color: #fff;
  color: #8c8c8c;
  font-size: 16px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url(../img/zhu78_17.png);
  background-repeat: no-repeat;
  background-position: 170px 15px;
  padding-left: 10px;
}

.content {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.content .left {
  width: 60%;
}

.content .left .head {
  display: flex;
  color: #f99135;
  justify-content: space-between;
}

.content .left .head .sp1 {
  font-size: 20px;
}

.content .left .head .more {
  font-size: 14px;
  display: flex;
  align-items: flex-end;
}

.content .left .tu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 30px;
}

.content .left .tu > div {
  width: 20%;
}

.content .left .tu > div:hover {
  box-shadow: 2px 2px 4px 1px #c8cccc;
}

.content .left .tu > div .im {
  position: relative;
}

.content .left .tu > div .im .dw {
  position: absolute;
  bottom: 0;
  background-color: #f99135;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  color: white;
  opacity: 0.8;
  display: none;
}

.content .left .tu > div .im:hover .dw {
  display: block;
}

.content .left .tu > div img {
  width: 100%;
}

.content .left .tu > div .score {
  background-color: #fff;
  border: #e8e8e8 1px solid;
  display: flex;
  padding: 5px;
  justify-content: space-between;
}

.content .left .tu > div .score .name {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.content .left .tu > div .score span {
  font-size: 14px;
  color: #f99135;
}

.content .left .tu1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 30px;
}

.content .left .tu1 > div {
  width: 20%;
}

.content .left .tu1 > div .tz:hover {
  box-shadow: 2px 2px 4px 1px #c8cccc;
}

.content .left .tu1 > div .im {
  position: relative;
}

.content .left .tu1 > div .im .dw {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f99135;
  height: 40px;
  text-align: center;
  color: white;
  opacity: 0.8;
  display: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}

.content .left .tu1 > div .im .dw > div {
  border-right: 2px solid white;
  padding: 0 15px;
}

.content .left .tu1 > div .im .dw .ys {
  border: 0;
}

.content .left .tu1 > div:hover .dw {
  display: flex;
}

.content .left .tu1 > div img {
  width: 100%;
}

.content .left .tu1 > div .score {
  background-color: #fff;
  border: #e8e8e8 1px solid;
  display: flex;
  padding: 5px;
  justify-content: space-between;
}

.content .left .tu1 > div .score span {
  font-size: 14px;
  color: #f99135;
}

.content .left .tu1 > div .time {
  text-align: center;
  font-size: 14px;
  color: #c3c3c3;
  margin-top: 10px;
}

.content .right {
  width: 30%;
}

.content .right .head {
  display: flex;
  color: #f99135;
  justify-content: space-between;
}

.content .right .head .sp1 {
  font-size: 20px;
}

.content .right .head .more {
  font-size: 14px;
  display: flex;
  align-items: flex-end;
}

.content .right .tu2 {
  display: flex;
  border: 1px solid #e8e8e8;
}

.content .right .tu2 .wz {
  align-self: center;
  margin-left: 10px;
}

.content .right .tu2 .wz .p1 {
  font-size: 18px;
}

.content .right .tu2 .wz .p2 {
  color: #999;
  margin-bottom: 0;
}

.content .right .tu2 .wz span {
  font-size: 14px;
  color: #f99135;
}

.content .right .tu3 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
}

.content .right .tu3 .tu3-1 {
  width: 47%;
  border: 1px solid #e8e8e8;
}

.content .right .tu3 .tu3-1 img {
  width: 100%;
}

.content .right .tu3 .tu3-1 .wz {
  padding: 5px 5px;
}

.content .right .tu3 .tu3-1 .wz > .wz1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  font-size: 18px;
}

.content .right .tu3 .tu3-1 .wz .wz2 {
  color: #999;
  font-size: 14px;
}

.content .right .tu2-1 {
  border: 0;
}

.content .right .tu2-1 .wz-1 {
  align-self: center;
  font-size: 14px;
  margin-left: 15px;
}

.content .right .hot {
  margin: 15px 0;
}

.content .right .hot a {
  margin: 0;
  padding: 0;
  display: flex;
  text-decoration: none;
  color: #333;
}

.content .right .hot a .wz {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  font-size: 14px;
  margin-left: 15px;
}

.content .right .hot a .num {
  color: #b8b8b8;
}

.content .right .hot a .num-1 {
  color: #f99135;
}

.content .right .hot a:hover {
  color: #f99135;
}

.footer {
  width: 100%;
  background-color: #262426;
  margin-top: 50px;
  border-bottom: 1px solid #545454;
}

.footer .center {
  width: 1000px;
  margin: 0 auto;
  margin-top: 70px;
  padding: 20px 0;
  border-bottom: #545454 1px solid;
  height: 230px;
}

.footer .center .top {
  width: 100%;
  display: flex;
  background-color: #262426;
}

.footer .center .top > div {
  width: 25%;
}

.footer .center .top > div .bor {
  border-bottom: 3px solid #f99135;
  width: 50px;
  margin-bottom: 15px;
}

.footer .center .top > div p {
  font-size: 18px;
  margin-bottom: 5px;
}

.footer .center .top > div h6 {
  font-size: 14px;
}

.footer .center .top > div a {
  text-decoration: none;
  color: white;
}

.bottom {
  background-color: #262426;
  padding: 15px 0;
}

.bottom > div {
  text-align: center;
  width: 540px;
  margin: 0 auto;
}

.bottom > div ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  font-size: 12px;
}

.bottom > div ul li a {
  color: white;
  padding: 0 10px;
  text-decoration: none;
}

.bottom > div ul li .last {
  border: 0;
}

.bottom > div ul .sp1 {
  color: white;
}

.bottom > div span {
  font-size: 12px;
  color: white;
}
