.topWrapper {
    display: flex;
    justify-content: space-between;
}

.img {
	width: fit-content;
	max-width: 100%;
	margin-top: 10px;
}

.current {
	display: inline-block !important;
	padding-bottom: 10px;
}

.current .ant-badge-status-text {
	color: #999;
}

.progressWrapper {
    width: 210px;
    display: flex;
    justify-content: space-between;
}

.progress {
    width: 140px;
}

.uploader {
	margin: 10px 0;
}
